		<!--
		###########################################################################
		#                                                                         #
		#                               H e a d e r                               #
		#                                                                         #
		###########################################################################
		-->
		<header class="header header-filter" style="background-image: url('{{ headerBackground }}');">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="brand">
							<h1>{{ title }}</h1>
							<h3>{{ subtitle }}</h3>
							<p>{{ description | raw }}</p>
						</div>
					</div>
				</div>
			</div>
			<!-- <div id="particles-header-wrapper"></div> -->
		</header>