<ul class="timeline">
	{% for entry in section.content %}
		{% if     entry.type == 'education'   %}{% set class = 'info'    %}
		{% elseif entry.type == 'globe'       %}{% set class = 'success' %}
		{% elseif entry.type == 'information' %}{% set class = 'warning' %}
		{% endif %}

		<li {% if loop.index is divisible by(2) %}class="timeline-inverted"{% endif %}>
			<div class="timeline-badge {{ class }}"><i class="glyphicon
				{% if     entry.type == "education"   %}glyphicon-education
				{% elseif entry.type == "globe"       %}glyphicon-globe
				{% elseif entry.type == "information" %}glyphicon-star
				{% endif %}
			"></i></div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">{{ entry.title }}</h4>
					<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ entry.date }}</small></p>
				</div>
				<div class="timeline-body">
					{{ entry.description | replace({'%class%': class }) | raw }}
				</div>
			</div>
		</li>
 	{% endfor %}
</ul>