	<!--
		###########################################################################
		#                                                                         #
		#                               F o o t e r                               #
		#                                                                         #
		###########################################################################
		-->
	<footer class="footer">
		<div class="container">
			<nav class="pull-left">
				<ul>
					<li>
						<a href="#" onclick="postMSE.client.slideTop();" class="text-muted">
							Page Top &#8593;
						</a>
					</li>
				</ul>
			</nav>
			<div class="copyright pull-right">
				&copy; 2016, made with <i class="material-icons">favorite</i> by Hadrien Croubois.
			</div>
		</div>
	</footer>
